<h3 class=" banner2 img-fluid w-100 "></h3>
<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="servicios">
            
            <tr>
                <td class="titulo">ROOM SERVICE </td>
                <td>Comience su día mediante la elección de un desayuno delicioso, que siempre está a la orden e incluye los ingredientes más frescos y de calidad. Disfrute de la variedad de exquisitos almuerzos y cenas acompañadas de una botella de buen vino u otra bebida. Una carta con amplia variedad de opciones clásicas y un personal dispuesto a atender, quienes ofrecerán un servicio oportuno y atractivo para el ajuste íntimo y privado de su habitación.</td>
                <td><img src="../../assets/img/room_service.png"></td>              
            </tr>

            <tr>
                <td class="titulo">BUSINESS CENTER</td>
                <td>Para su comodidad, el Hotel San Fernando Plaza Medellín, cuenta con un Centros de Negocios dotado con equipos de cómputo de alta tecnología, situado en el lobby principal Nuestro personal amable y profesional está dispuesto a ayudarle con todas sus necesidades de negocio.</td> 
                <td><img src="../../assets/img/ico-business-center.png"></td>               
            </tr>
            <tr>
                <td class="titulo">GIMNASIO</td>
                <td>Ofrece a nuestros huéspedes excelentes equipos multifuncionales, de spinning, bandas trotadoras y elípticas. Un espacio dirigido y completamente adecuado para ejercitarse, relajarse y fortalecer su cuerpo y mente; además cuenta con una asesoría profesional para garantizar los mejores resultados en sus entrenamientos.</td>
                <td><img src="../../assets/img/ico-gim.png"></td>   
            </tr>
            <tr>
                <td class="titulo">OTROS SERVICIOS</td>
                <td>Tienda de artesanías, parqueaderos cubiertos, servicio de lustrabotas, asistencia médica, asistencia turística, lavandería, cambio de divisas, prensa diaria, acceso para personas con movilidad disminuída y servicios financieros en el complejo empresarial San Fernando Plaza..</td>
                <td><img src="../../assets/img/ico-otros-servicios.png"></td>   
            </tr>            
        </table>        
      </div>
    </div>
</div>